@media screen and (max-width: 375px){
    .container{
        // background-image: url(/images/bg-pattern-bottom-mobile.svg) , url(/images/bg-pattern-top-mobile.svg);

        background-image: none;

        .main{
            width: 95%;
            grid-template-columns: 1fr;
            margin-top: 20rem;
            grid-template-areas: 
            'message'
            'rate'
            'users'
            ;

            &-text{
                // color: coral;
                margin-top: 5rem;
                text-align: center;
            }

            &-rates{


                &-review{
                }

                ul{
                    // flex-direction: column;
                    width: 90%;
                    margin: 5px;
                    padding: 5px;

                    h4{
                        padding-left: 2px;
                        display: none;

                    }
                }

                ul>li{
                    display: flex;
                }


                .guru{
                    margin-left: 0;
                }
    
                .best-tech{
                    margin-left: 0;
                }

            }

            &-users{
               flex-direction: column; 
               margin: 0 auto;

                    &-1{
                        
                        padding: 10px;
                        margin: 0 0 10px 0;
                    }
                    &-2{
                        margin: 0 0 10px 0;
                        padding: 10px;
                    }
                    &-3{
                        margin: 0 0 10px 0;
                        padding: 10px;
                    }
            }
        }
    }
}